In [1]:
# mkdir -p data
# cd data
# wget http://data.insideairbnb.com/united-states/ca/san-diego/2020-12-23/data/listings.csv.gz
# wget http://data.insideairbnb.com/united-states/ca/san-diego/2020-12-23/data/calendar.csv.gz
# wget http://data.insideairbnb.com/united-states/ca/san-diego/2020-12-23/data/reviews.csv.gz
# wget http://data.insideairbnb.com/united-states/ca/san-diego/2020-12-23/visualisations/listings.csv
# wget http://data.insideairbnb.com/united-states/ca/san-diego/2020-12-23/visualisations/reviews.csv
# wget http://data.insideairbnb.com/united-states/ca/san-diego/2020-12-23/visualisations/neighbourhoods.csv
# wget http://data.insideairbnb.com/united-states/ca/san-diego/2020-12-23/visualisations/neighbourhoods.geojson

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [86]:
listings = pd.read_csv("data/listings.csv.gz")
#calendar = pd.read_csv("data/calendar.csv.gz")
reviews = pd.read_csv("data/reviews.csv.gz")

# reviews_v = pd.read_csv("data/reviews.csv")
# listings_v = pd.read_csv("data/listings.csv")
# neighbourhoods_v = pd.read_csv("data/neighbourhoods.csv")

In [30]:
useful_cat_varibles = ["neighbourhood_cleansed", "host_identity_verified", "host_neighbourhood"]
useful_cat_varibles += ["property_type", "room_type"]


"amenities" # length

df_numeric = listings.select_dtypes(exclude=['object'])


## get rid of variable with only nan
exclude_list = [] 
for col in df.columns:
    tmp = np.isnan(df[col].unique()) 
    
    if len(tmp) == 1 and tmp.sum()==1:
        exclude_list.append(col)
        print(col)

exclude_list += ["scrape_id", "host_id"]
df = df.drop(exclude_list ,axis=1)


Y = listings.price.str.replace("$","").str.replace(",","").astype(float)



# df_all = pd.merge(df, calendar, left_on='id', right_on='listing_id')

# time_col = "date"
# ## 5. Datetime_transform:
# dt_data = pd.to_datetime(df_all[time_col], format='%Y-%m-%d')

# def add_dt_col(df, dt_col):
#     df['year'] = dt_col.dt.year
#     df['month'] = dt_col.dt.month
#     df['day'] = dt_col.dt.day
#     df['dayofyear'] = dt_col.dt.dayofyear
#     df['weekday'] = dt_col.dt.dayofweek
#     return df

# add_dt_col(df_all, dt_data)
# df_all.drop([time_col], axis=1)

neighbourhood_group_cleansed
bathrooms
calendar_updated
license

,id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,minimum_nights_x,maximum_nights_x,...,listing_id,available,price,minimum_nights_y,maximum_nights_y,year,month,day,dayofyear,weekday
0,5570,3.0,3.0,32.784300,-117.252580,6,2.0,4.0,3,365,...,5570,f,2050.0,3.0,365.0,2020,12,23,358,2
1,5570,3.0,3.0,32.784300,-117.252580,6,2.0,4.0,3,365,...,5570,f,2050.0,3.0,365.0,2020,12,24,359,3
2,5570,3.0,3.0,32.784300,-117.252580,6,2.0,4.0,3,365,...,5570,f,2050.0,3.0,365.0,2020,12,25,360,4
3,5570,3.0,3.0,32.784300,-117.252580,6,2.0,4.0,3,365,...,5570,f,2050.0,3.0,365.0,2020,12,26,361,5
4,5570,3.0,3.0,32.784300,-117.252580,6,2.0,4.0,3,365,...,5570,f,2050.0,3.0,365.0,2020,12,27,362,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3375952,47202010,86.0,86.0,32.786237,-117.253391,8,3.0,5.0,3,1125,...,47202010,t,415.0,3.0,1125.0,2021,12,19,353,6
3375953,47202010,86.0,86.0,32.786237,-117.253391,8,3.0,5.0,3,1125,...,47202010,t,415.0,3.0,1125.0,2021,12,20,354,0
3375954,47202010,86.0,86.0,32.786237,-117.253391,8,3.0,5.0,3,1125,...,47202010,t,415.0,3.0,1125.0,2021,12,21,355,1
3375955,47202010,86.0,86.0,32.786237,-117.253391,8,3.0,5.0,3,1125,...,47202010,t,415.0,3.0,1125.0,2021,12,22,356,2
3375956,47202010,86.0,86.0,32.786237,-117.253391,8,3.0,5.0,3,1125,...,47202010,t,589.0,3.0,1125.0,2021,12,23,357,3

In [10]:
# encode category variable into numeric one
le = preprocessing.LabelEncoder()
categorical_feature = []
for col in df_all.columns:
    print(col, df_all[col].dtype)
    if df_all[col].dtype == 'object':
        le.fit(df_all[col])
        encoded_fts = le.transform(df_all[col])
        df_all[col] = encoded_fts
        categorical_feature.append(col)

id int64
host_listings_count float64
host_total_listings_count float64
latitude float64
longitude float64
accommodates int64
bedrooms float64
beds float64
minimum_nights_x int64
maximum_nights_x int64
minimum_minimum_nights float64
maximum_minimum_nights float64
minimum_maximum_nights float64
maximum_maximum_nights float64
minimum_nights_avg_ntm float64
maximum_nights_avg_ntm float64
availability_30 int64
availability_60 int64
availability_90 int64
availability_365 int64
number_of_reviews int64
number_of_reviews_ltm int64
number_of_reviews_l30d int64
review_scores_rating float64
review_scores_accuracy float64
review_scores_cleanliness float64
review_scores_checkin float64
review_scores_communication float64
review_scores_location float64
review_scores_value float64
calculated_host_listings_count int64
calculated_host_listings_count_entire_homes int64
calculated_host_listings_count_private_rooms int64
calculated_host_listings_count_shared_rooms int64
reviews_per_month float64
listing_id int64
date object
available object
price float64
minimum_nights_y float64
maximum_nights_y float64
year int64
month int64
day int64
dayofyear int64
weekday int64

In [11]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3375957 entries, 0 to 3375956
Data columns (total 46 columns):
 #   Column                                        Dtype
---  ------                                        -----
 0   id                                            int64
 1   host_listings_count                           float64
 2   host_total_listings_count                     float64
 3   latitude                                      float64
 4   longitude                                     float64
 5   accommodates                                  int64
 6   bedrooms                                      float64
 7   beds                                          float64
 8   minimum_nights_x                              int64
 9   maximum_nights_x                              int64
 10  minimum_minimum_nights                        float64
 11  maximum_minimum_nights                        float64
 12  minimum_maximum_nights                        float64
 13  maximum_maximum_nights                        float64
 14  minimum_nights_avg_ntm                        float64
 15  maximum_nights_avg_ntm                        float64
 16  availability_30                               int64
 17  availability_60                               int64
 18  availability_90                               int64
 19  availability_365                              int64
 20  number_of_reviews                             int64
 21  number_of_reviews_ltm                         int64
 22  number_of_reviews_l30d                        int64
 23  review_scores_rating                          float64
 24  review_scores_accuracy                        float64
 25  review_scores_cleanliness                     float64
 26  review_scores_checkin                         float64
 27  review_scores_communication                   float64
 28  review_scores_location                        float64
 29  review_scores_value                           float64
 30  calculated_host_listings_count                int64
 31  calculated_host_listings_count_entire_homes   int64
 32  calculated_host_listings_count_private_rooms  int64
 33  calculated_host_listings_count_shared_rooms   int64
 34  reviews_per_month                             float64
 35  listing_id                                    int64
 36  date                                          int64
 37  available                                     int64
 38  price                                         float64
 39  minimum_nights_y                              float64
 40  maximum_nights_y                              float64
 41  year                                          int64
 42  month                                         int64
 43  day                                           int64
 44  dayofyear                                     int64
 45  weekday                                       int64
dtypes: float64(23), int64(23)
memory usage: 1.2 GB

In [129]:
df_all.head()

,id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,minimum_nights_x,maximum_nights_x,...,date,available,price,minimum_nights_y,maximum_nights_y,year,month,day,dayofyear,weekday
0,5570,3.0,3.0,32.7843,-117.25258,6,2.0,4.0,3,365,...,2020-12-23,f,2050.0,3.0,365.0,2020,12,23,358,2
1,5570,3.0,3.0,32.7843,-117.25258,6,2.0,4.0,3,365,...,2020-12-24,f,2050.0,3.0,365.0,2020,12,24,359,3
2,5570,3.0,3.0,32.7843,-117.25258,6,2.0,4.0,3,365,...,2020-12-25,f,2050.0,3.0,365.0,2020,12,25,360,4
3,5570,3.0,3.0,32.7843,-117.25258,6,2.0,4.0,3,365,...,2020-12-26,f,2050.0,3.0,365.0,2020,12,26,361,5
4,5570,3.0,3.0,32.7843,-117.25258,6,2.0,4.0,3,365,...,2020-12-27,f,2050.0,3.0,365.0,2020,12,27,362,6

In [96]:
df_all.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,...,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,listing_id,minimum_nights_y,maximum_nights_y
count,3.375957e+06,3.375957e+06,3.375957e+06,3.374862e+06,3.374862e+06,3.375957e+06,3.375957e+06,3.375957e+06,3.012374e+06,3.358068e+06,...,2.818902e+06,2.818902e+06,3.375957e+06,3.375957e+06,3.375957e+06,3.375957e+06,2.850296e+06,3.375957e+06,3.375516e+06,3.375516e+06
mean,2.802539e+07,2.020122e+13,9.746568e+07,1.018693e+02,1.018693e+02,3.276951e+01,-1.171858e+02,4.724502e+00,1.898940e+00,2.510298e+00,...,9.809123e+00,9.444443e+00,1.784174e+01,1.574868e+01,2.035967e+00,4.108583e-02,1.908871e+00,2.802539e+07,6.692574e+00,8.532855e+05
std,1.404805e+07,0.000000e+00,9.910229e+07,5.071818e+02,5.071818e+02,6.469545e-02,6.426890e-02,3.158310e+00,1.215191e+00,1.996028e+00,...,5.998467e-01,8.470590e-01,3.590654e+01,3.451992e+01,1.262832e+01,4.141488e-01,1.904058e+00,1.404805e+07,1.682099e+01,4.277853e+07
min,5.570000e+03,2.020122e+13,8.435000e+03,0.000000e+00,0.000000e+00,3.254107e+01,-1.172814e+02,0.000000e+00,1.000000e+00,0.000000e+00,...,2.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e-02,5.570000e+03,1.000000e+00,1.000000e+00
25%,1.697281e+07,2.020122e+13,1.691311e+07,1.000000e+00,1.000000e+00,3.272700e+01,-1.172502e+02,2.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+01,9.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,4.200000e-01,1.697281e+07,2.000000e+00,3.620000e+02
50%,2.933944e+07,2.020122e+13,6.200869e+07,3.000000e+00,3.000000e+00,3.276092e+01,-1.171752e+02,4.000000e+00,1.000000e+00,2.000000e+00,...,1.000000e+01,1.000000e+01,3.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,1.270000e+00,2.933944e+07,2.000000e+00,1.125000e+03
75%,4.148234e+07,2.020122e+13,1.466791e+08,1.700000e+01,1.700000e+01,3.279865e+01,-1.171450e+02,6.000000e+00,2.000000e+00,3.000000e+00,...,1.000000e+01,1.000000e+01,1.400000e+01,1.100000e+01,1.000000e+00,0.000000e+00,2.840000e+00,4.148234e+07,4.000000e+00,1.125000e+03
max,4.720201e+07,2.020122e+13,3.809385e+08,4.355000e+03,4.355000e+03,3.308582e+01,-1.169357e+02,1.600000e+01,2.200000e+01,2.500000e+01,...,1.000000e+01,1.000000e+01,1.690000e+02,1.690000e+02,1.140000e+02,8.000000e+00,2.476000e+01,4.720201e+07,3.650000e+02,2.147484e+09

In [51]:
reviews.date = pd.to_datetime(reviews.date, format='%Y-%m-%d')

In [53]:
reviews.date.max(),  reviews.date.min()

(Timestamp('2020-12-23 00:00:00'), Timestamp('2010-07-09 00:00:00'))

In [66]:
calendar.head()

   listing_id        date available   price  minimum_nights  maximum_nights
0      522108  2020-12-23         f   200.0             2.0            30.0
1        5570  2020-12-23         f  2050.0             3.0           365.0
2        5570  2020-12-24         f  2050.0             3.0           365.0
3        5570  2020-12-25         f  2050.0             3.0           365.0
4        5570  2020-12-26         f  2050.0             3.0           365.0

In [ ]:
property_type	room_type

In [19]:
host_response_rate, host_acceptance_rate

In [ ]:
property_type

In [70]:
listings.has_availability.value_counts()

t    9197
f      52
Name: has_availability, dtype: int64

In [58]:
(listings.host_neighbourhood == listings.neighbourhood_cleansed).value_counts()

False    6311
True     2938
dtype: int64

In [76]:
reviews.

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,29967,62788,2010-07-09,151260,Debbie,When I booked our stay in San Diego at Dennis ...
1,29967,64568,2010-07-14,141552,Eric,This was my first experience with using airbnb...
2,29967,67502,2010-07-22,141591,David,We found the house to be very accommodating--e...
3,29967,70466,2010-07-29,125982,Anders,As advertised and more. Dennis was very helpfu...
4,29967,74876,2010-08-07,29835,Miyoko,We had a great time in San Diego. Denis' house...
...,...,...,...,...,...,...
443411,46995597,715948454,2020-12-16,346790349,Mike,"This is a great place with modern design, extr..."
443412,46995597,716097352,2020-12-17,370055591,Hanna,Such a amazing place! It makes me feel like ho...
443413,46995597,716330508,2020-12-18,299951196,Trina,Booked this place last minute and was able to ...
443414,46995597,716579344,2020-12-19,74213915,Colby,We had a great time staying at this house. It ...
443415,47118472,717198891,2020-12-21,251055303,Trey,N/a

In [79]:
reviews.listing_id.unique().shape

(7808,)

In [77]:
reviews.reviewer_id.value_counts() # heavy reviewer

64785633     69
85972988     63
52458269     35
577119       30
88498882     28
             ..
53640388      1
102236152     1
41641543      1
334477245     1
219080271     1
Name: reviewer_id, Length: 397984, dtype: int64

In [75]:
reviews[reviews.listing_id == 29967].comments

0     When I booked our stay in San Diego at Dennis ...
1     This was my first experience with using airbnb...
2     We found the house to be very accommodating--e...
3     As advertised and more. Dennis was very helpfu...
4     We had a great time in San Diego. Denis' house...
                            ...
57    Michael’s place is great, very good location c...
58    Michaels home is spacious and clean. Was the p...
59    A very good neighborhood and house. The landlo...
60    Michael/Dennies were great hosts! Responded ve...
61          Great Location and nice for a small family.
Name: comments, Length: 62, dtype: object

In [ ]:
review_counts
review_senmentic_counts